---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$primaryColor: #ffd700;

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    background:#f8f8f8;
    color: #333;
}

.container-fluid {
    max-width: 1400px;
}

header {
    background: $primaryColor;
    text-align: center;
    padding:10px;
    line-height: 1;

    #logo {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color:#fff;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: italic;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            font-size: 72px;
        }

    }

    #menu-icon {
        position: absolute;
        color:#fff;
        right:0px;
        top: 50%;
        font-size: 32px;
        margin-top: -16px;

        @media (min-width: 768px) {
            font-size: 72px;
            margin-top: -36px;
        }
    }
}

footer {

}
.btn {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:#fff;
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;

    &.source {
        width:100%;
        position: relative;
        text-align: left;
        padding: 16px;
        padding-left: 50px;

        margin-bottom: 20px;
        white-space: normal;
        font-size: 12px;
        word-wrap: break-word;

        &:before {
            position: absolute;
            top: 10px;
            left: 10px;
            content:'';
            display:inline-block;
            width:32px;
            height:32px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &[href*="expressen.se"] {
        &:before {
            background-image: url('/css/images/expressen.png');
        }
    }
    &[href*="aftonbladet.se"] {
        &:before {
            background-image: url('/css/images/aftonbladet.jpg');
        }
    }
    &[href*="flashback.org"] {
        &:before {
            background-image: url('/css/images/Flashback.jpg');
        }
    }
}
h1,h2,h3,h4,h5,h6 {
    strong {
        display: inline-block;
        background:#333;
        background: $primaryColor;
        color:#fff;
        font-weight: 900;
        padding: 0 10px;
    }
}
main {
    .container-fluid {
        background: #fff;
        padding-top:20px;
    }
    

    figure {
        height:0;
        padding-bottom: 50%;
        overflow: hidden;
        text-align: center;
        margin:0;

        background-repeat: no-repeat;
        background-size: cover;
    }

    article {
        margin-bottom:50px;
        a {
            text-decoration: none;
            color:#333;
            &:hover {
                text-decoration: underline;
                text-decoration-color: $primaryColor;
            }
        }
        h2 {
            font-size:40pt;
        }
        h1,h2,h3,h4,h5,h6 {
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-align: center;
            font-weight: 700;
            margin:0;
            white-space: normal;
            word-wrap: break-word;
            p {
                margin:0;
            }
        }

    }
}
