---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$primaryColor: #ffd700;

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    background:#f8f8f8;
    color: #333;
}

header {
    background: $primaryColor;
    text-align: center;
    padding:10px;
    line-height: 1;

    #logo {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color:#fff;
        font-size: 72px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: italic;
    }

    #menu-icon {
        position: absolute;
        color:#fff;
        right:15px;
        top:15px;
        font-size: 64px;
    }
}

footer {

}

h1,h2,h3,h4,h5,h6 {
    strong {
        display: inline-block;
        background:#333;
        background: $primaryColor;
        color:#fff;
        font-weight: 900;
        padding: 0 10px;
    }
}
main {
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    background: #fff;
    //position: relative;
    max-width: 1400px;

    figure {
        height:0;
        padding-bottom: 50%;
        overflow: hidden;
        text-align: center;
        margin:0;

        background-repeat: no-repeat;
        background-size: cover;
    }

    article {
        margin-bottom:50px;
        a {
            text-decoration: none;
            color:#333;
            &:hover {
                text-decoration: underline;
                text-decoration-color: $primaryColor;
            }
        }
        h2 {
            font-size:40pt;
        }
        h1,h2,h3,h4,h5,h6 {
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-align: center;
            font-weight: 700;
            margin:0;
            p {
                margin:0;
            }
        }

    }
}
