---
layout: layout1
title: Välkommen till Uthängd
---
    

{% for post in site.tags['single'] limit:10 %}
<section class="row">
    <article class="col-12">
        <a href="{{post.url}}">
            <figure class="image--blurred" style="background-image: url('{{post.imagelg}}');"></figure>
            <h2>{{post.title | markdownify}}</h2>
        </a>
    </article>
</section>
{% endfor %}


<section class="row">
    {% for post in site.tags['double'] limit:10 %}
        <article class="col-12 col-lg-6">
            <a href="{{post.url}}">
                <div style="overflow: hidden;">
                    <figure class="image--blurred" style="background-image: url('{{post.imagelg}}');"></figure>
                </div>
                <h4>{{post.title | markdownify}}</h4>
            </a>
        </article>
    {% endfor %}
</section>
